<%- include("header") -%>
    <h2>about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa doloribus ipsam quam natus adipisci v eritatis, error nisi laudantium officia, inventore deleniti quasi sequi dolor excepturi explicabo ei us ab placeat!</p>
    <%- include("footer") -%>